.button {
  border-radius: 33px;
  border: none;
  width: 100%;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 1em 0;
  cursor: pointer;
  outline: none;
  margin: 2em 0em;
  background: #39cdcc;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(84, 95, 125, 0.15);
  color: black;
}

.button_invalid {
  border-radius: 33px;
  border: none;
  width: 100%;
  background: #838c98;
  color: white;
  font-weight: 100;
  font-size: 1rem;
  padding: 1em;
  outline: none;
  margin: 2em 0em;
  cursor: not-allowed;
  border: none;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .button {
    width: 100%;
    margin: 2em auto;
    padding: 0.7em;
  }

  .button_invalid {
    width: 100%;
    margin: 2em auto;
    padding: 0.7em;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .button {
    width: 100%;
    margin: 2em auto;
  }

  .button_invalid {
    width: 100%;
    margin: 2em auto;
  }
}
