/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Iso&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Metropolis";
  src: url("./Assets/Fonts/Metropolis/Metropolis-Thin.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Assets/Fonts/Metropolis/Metropolis-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Assets/Fonts/Metropolis/Metropolis-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Assets/Fonts/Metropolis/Metropolis-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Assets/Fonts/Metropolis/Metropolis-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Metropolis";
  src: url("./Assets/Fonts/Metropolis/Metropolis-ExtraBold.otf");
  font-style: normal;
  font-weight: 800;
}

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general Body styles */
body {
  margin: 0;
  font-family: "Metropolis", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backGroundBlack);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --hoverBackgroundColor: #f3fcfc;
}
