.container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 168px;
  padding: 30px;
}

.searchSection {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
}

.searchSection > input {
  height: 100%;
  width: calc(400px - 52px);
  background: #ffffff;
  border: none;
  border-radius: 8px 0 0 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545f7d;
  outline: none;
  padding: 0 12px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #545f7d;
  box-sizing: border-box;
}

.searchSection > input:focus {
  outline: 2px solid #39cdcc;
}

.searchSection > input::placeholder {
  opacity: 0.7;
}

.searchSection > button {
  width: 52px;
  height: 40px;
  background: #39cdcc;
  color: #ffffff;
  border: none;
  border-radius: 0 8px 8px 0;
  box-sizing: border-box;
}

.profileAndDocs {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.profileAndDocs > a {
  font-style: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #213f7d;
}

.profileAndDocs > div:nth-child(2) {
  font-size: 1.5rem;
  color: #213f7d;
}

.profileAndDocs > div:nth-child(3) {
  display: flex;
  align-items: center;
}

.profileAndDocs > div:nth-child(3) > img:nth-child(1) {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.profileAndDocs > div:nth-child(3) > span:nth-child(2) {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
  margin: 0 10px;
}

.profileAndDocs > div:nth-child(3) > span:nth-child(3) {
  color: #213f7d;
}

.hamburgerMenu {
  display: none;
}

/* Tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 30px;
  }

  .logoSection > img {
    width: 120px;
  }
  .searchSection {
    display: none;
  }
  .profileAndDocs {
    display: none;
  }

  .hamburgerMenu {
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
    color: #213f7d;
  }
}

/* Mobile Phone */
@media screen and (max-width: 767px) {
  .container {
    padding: 24px;
  }

  .logoSection > img {
    width: 120px;
  }
  .searchSection {
    display: none;
  }
  .profileAndDocs {
    display: none;
  }

  .hamburgerMenu {
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
    color: #213f7d;
  }
}
